<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body style="height: 100%">
    <div class="mainRoot">
        <input> </input>
        clip
        <button id="content">content</button>
        <button id="screenshot">screenshot</button>
        organise
        <select name="workspace" id="workspace">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <button id="save">save</button>
        <button id="settings">settings</button>
        <button id="account">account</button>
        <div id="workspaces">
          
        </div>
    </div>
</body>
</html>